*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/mobile/node_modules
/mobile/.expo
.expo/
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
/storage/_ide_helper_models.php
/storage/_ide_helper.php
/storage/.phpstorm.meta.php
/.codex/environments/environment.toml
